$primary-color-lightest: #fbfcff;
$primary-color-lighter: #8c8eff;
$primary-color-light: #5e61ff;
$primary-color: #9719ff;
$primary-color-dark: #5d12b3;
$primary-color-darker: #300d80;
$primary-color-darkest: #071f4c;

$secondary-color-lightest: #cfd0fe;
$secondary-color-lighter: #a0b1fd;
$secondary-color-light: #7270fd;
$secondary-color: #4714be;
$secondary-color-dark: #300a97;
$secondary-color-darker: #230764;
$secondary-color-darkest: #031332;

$tertiary-color-lightest: #ddd9fe;
$tertiary-color-lighter: #bbb3fd;
$tertiary-color-light: #8879fc;
$tertiary-color: #5540fb;
$tertiary-color-dark: #3b2db0;
$tertiary-color-darker: #221a64;
$tertiary-color-darkest: #110d32;

$success-color-lightest: #d1eedd;
$success-color-lighter: #a3ddbc;
$success-color-light: #5dc389;
$success-color: #18a957;
$success-color-dark: #11763d;
$success-color-darker: #0a4423;
$success-color-darkest: #052211;

$warning-color-lightest: #fff1d7;
$warning-color-lighter: #ffe4af;
$warning-color-light: #ffcf74;
$warning-color: #ffbb38;
$warning-color-dark: #b38327;
$warning-color-darker: #664b16;
$warning-color-darkest: #33250b;

$error-color-lightest: #f9d0d9;
$error-color-lighter: #f2a2b3;
$error-color-light: #e95c7b;
$error-color: #FD2E63;
$error-color-dark: #9c0f2e;
$error-color-darker: #59091a;
$error-color-darkest: #2d040d;

$grey-color-dark: #666666;
$grey-color: #939393;
$grey-color-semi: #e6e6e6;
$grey-color-light: #fcfcfc;
$grey-color-lighter: #687285;

$black-color: #212121;
