@import "../../assets/scss/vars";

.defi-ftrade-confirmation {
    .info {
        padding: 32px 0;
        text-align: center;
        font-size: 21px;
        line-height: 1.23;
    }

    .price {
        color: $theme-color;
    }
}
