.view-settings {
    h1 {
        margin-top: 8px;
        margin-bottom: 0;
    }

    h2 {
        margin-top: 24px;
        margin-bottom: 8px;
    }

    p {
        padding-bottom: 24px;
    }
}
