@import "../../assets/scss/vars";

.account-list-view {
    .intro {
        color: rgba(255, 255, 255, 0.75);
        /*color: $secondary-color-lighter;*/
        padding: 64px 0 112px;

        h1 {
            font-size: 48px;
            color: #fff;
            /*font-weight: 600;*/
        }
    }

    .view-account-main {
        margin: 0 auto;
        max-width: 770px;

        > ul {
            @include fluid-items(300px, 32px, 32px);
        }

        .f-card {
            height: 100%;
        }
    }

    @include buttons('.create-account-btn') {
        font-weight: bold;
        background-color: $create-account-color;
    }

    @include buttons('.create-account-btn:not([disabled]):not(.disabled):not(.no-hover):hover') {
        background: darken($create-account-color, 10%);
    }

    @include buttons('.create-account-btn:not([disabled]):not(.disabled):not(.no-hover):focus') {
        background: darken($create-account-color, 10%);
    }

    @include buttons('.restore-account-btn') {
        font-weight: bold;
        background-color: $restore-account-color;
    }

    @include buttons('.restore-account-btn:not([disabled]):not(.disabled):not(.no-hover):hover') {
        background: darken($restore-account-color, 10%);
    }

    @include buttons('.restore-account-btn:not([disabled]):not(.disabled):not(.no-hover):focus') {
        background: darken($restore-account-color, 10%);
    }

    @include buttons('.ledger-accounts-btn') {
        font-weight: bold;
        background-color: $ledger-accounts-color;
    }

    @include buttons('.ledger-accounts-btn:not([disabled]):not(.disabled):not(.no-hover):hover') {
        background: darken($ledger-accounts-color, 10%);
    }

    @include buttons('.ledger-accounts-btn:not([disabled]):not(.disabled):not(.no-hover):focus') {
        background: darken($ledger-accounts-color, 10%);
    }

}

@include media-max($bp-small) {
    .account-list-view {
        .intro {
            padding: 32px 0;

            h1 {
                font-size: 40px;
            }
        }
    }
}
