@import "../../assets/scss/vars";

.account-list-view {
    .intro {
        color: rgba(255, 255, 255, 0.75);
        /*color: $secondary-color-lighter;*/
        padding: 64px 0 112px;

        h1 {
            font-size: 48px;
            color: #fff;
            /*font-weight: 600;*/
        }
    }

    .view-account-main {
        margin: 0 auto;
        max-width: 770px;

        > ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-column-gap: 32px;
            grid-row-gap: 32px;
        }
    }
}
