.gov-proposal-detail {
    &__options {
        margin-top: 40px;
        //margin-bottom: 32px;

        li {
            margin-bottom: 24px;
        }
    }

    &__sub-title {
        text-align: center;
        margin-top: 40px;
    }

    &__cont-resolved {
        //margin-top: 40px;
        margin-bottom: 32px;

        .gov-proposal-detail__options {
            max-width: 400px;
            margin: 0 auto;
        }
    }

    &__voter-votes {
        --f-data-layout-cols-padding: 8px;

        li {
            margin-bottom: 8px;
        }
    }

    &__option {
        font-weight: normal !important;
    }

    &__vote {
        font-weight: bold;
        font-size: 21px;
        text-align: right;
    }

    &__winner {
        text-align: center;
    }

    &__dates {
        margin-top: 24px;
        text-align: center;

        .label {
            font-weight: normal;
        }
    }

    &__loader {
        text-align: center;
        padding-top: 60px;
    }

    hr {
        margin-top: 48px;
    }

    .f-slider {
        label {
            padding-bottom: 8px;
        }
    }
}
