@import "../../assets/scss/vars";
//@import "../core/FMessage/variables";

.receive-coins {
    text-align: center;

    .address {
        text-align: center;
        //margin-bottom: 32px;
        margin-bottom: 24px;

        svg {
            position: relative;
            top: -2px;
        }

        &.complete {
            &.yes {
                color: var(--f-success-color);
            }

            &.no {
                color: var(--f-error-color);
            }
        }
    }

    .verify-cont {
        min-height: 48px;
    }

    .form-buttons {
        padding-top: 32px;
        padding-bottom: 16px;

        .btn-next {
            min-width: 256px;
        }

        .f-message {
            padding-bottom: 16px;
        }
    }
}
