@import "../../assets/scss/vars";

.transaction-success-message {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;

    h2, h3 {
        text-align: center;
    }

    .success-icon {
        color: $f-message-success-color;
    }
}
