@import "variables";

.f-social-media-links {
    color: $social-media-links-color;

    li {
        display: inline-block;
        vertical-align: middle;

        &:not(:last-child) {
            padding-right: 24px;
        }

        @include links() {
            color: inherit;
            transition: color $transition-length ease;
        }

        a:not(.btn):hover {
            color: $social-media-links-hover-color;
        }
    }
}
