@import "../../assets/scss/vars";

.fswap {
    //--f-fswap-swap-btn-border-color: #{$grey-color-semi};
    --f-fswap-swap-btn-border-color: #f7f8fa;
    --f-fswap-swap-btn-border: 1px solid var(--f-fswap-swap-btn-border-color);

    > .f-card {
        width: 100%;
        max-width: 440px;
        //max-width: 480px;
        margin: 120px auto 0 auto;
    }

    .token-cont {
        padding: 12px 16px;
        border-radius: 20px;
        border: 1px solid var(--f-fswap-swap-btn-border-color);

        .token-balance {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-between;
        }

        .token-body {
            display: inline-flex;
            flex-wrap: nowrap;
            align-items: center;
            margin-top: 16px;
            font-size: 24px;

            input.text-input {
                flex: 1 1 auto;
                width: 100%;
                color: inherit;
                font-weight: bold;

                -moz-appearance: textfield;

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                &.invalid {
                    color: red;
                }
            }

            .f-crypto-symbol .img {
                margin-top: -4px;
            }

            .max-amount {
                margin-right: 8px;
            }
        }
    }

    .swap-cont {
        margin: 8px 0;
        text-align: center;
    }

    .exchange-price {
        display: flex;
        align-items: center;
        margin-top: 16px;
        padding-left: 16px;
        padding-right: 16px;

        .defi-label {
            flex: 1 1 auto;
            margin-bottom: 0;
        }

        .value {
            text-align: right;
            padding: 0 8px;
        }

        .swap-price {
        }
    }

    .submit-cont {
        margin-top: 16px;

        .btn {
            width: 100%;
            min-height: 64px;
        }
    }



    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 16px 32px;
        margin: 32px 8px 0 8px;

        .swap-cont {
            grid-area: 2 / 1;
        }

        > .swap-col {
            display: none;
        }
    }

    .swap-col {
        text-align: center;
        padding: 32px 0;

        .btn {
            color: $light-gray-color;
            border: var(--f-fswap-swap-btn-border);
            position: relative;
            z-index: 2;
            background-color: var(--f-doc-background-color);

            &.same-size {
                min-width: 48px;
                min-height: 48px;
            }
        }
    }

    .defi-price-input {
        margin-top: 16px;

        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;

        input.text-input, .sign {
            font-size: 72px;
            margin-bottom: 0;
        }

        .sign, input.text-input::placeholder {
            color: $light-gray-color;
        }

        input.text-input.invalid {
            color: red;
        }
    }

    .sb-content {
        display: flex;
        align-items: center;

        > :first-child {
            width: 100%;
        }

        > :last-child {
            color: $light-gray-color;
            padding-right: 8px;
        }
    }

    .f-select-button {
        .f-placeholder {
            min-height: 38px;
        }
    }

    .f-slider-wrap {
        margin-top: 40px;
    }

    .se-cont {
        max-width: 600px;
        margin: 0 auto;
    }
}

@include media-max($bp-small) {
    .fswap {
        > .f-card {
            margin-top: 0;
        }
    }
}
