.f-placeholder {
    --f-placeholder-background-size-width: 800px;
    --f-placeholder-on-background: linear-gradient(to right, #f6f6f6 8%, #eaeaea 18%, #f6f6f6 33%);
    --f-placeholder-animation-speed: 1s;
}
