@import "../../assets/scss/vars";

.defi-menu {
    --f-defi-menu-item-hover-box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 -12px 36px -8px rgba(0, 0, 0, 0.03);
    --f-defi-menu-item-hover-background-color: none;

    padding-top: 32px;

    ul {

        li {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        /*
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
        grid-column-gap: 64px;
        grid-row-gap: 16px;
        */
    }

    .menu-item {
        position: relative;
        max-width: 348px;
        margin: 0 auto;
        height: 100%;
        border-radius: 20px;
        text-align: center;
        padding: 24px;
        transition: box-shadow $transition-length ease, background-color $transition-length ease;

        &.disabled {
            opacity: 0.5;
        }

        &:not(.disabled) {
            &:hover, &:focus-within {
                box-shadow: var(--f-defi-menu-item-hover-box-shadow);
                background-color: var(--f-defi-menu-item-hover-background-color);
            }
        }

        h2 {
            font-weight: normal;
            text-align: center;
            margin-top: 8px;
        }

        .icon {
            color: var(--f-primary-color);
        }

        .title {
            color: var(--f-primary-color);
            font-size: 21px;
            font-weight: bold;
            text-decoration: none;
        }

        .description {
            max-width: 236px;
            min-height: 64px;
            margin: 24px auto 0 auto;
            //color: #2b3954;
            //text-align: left;
        }
    }

    .clickable {
        color: inherit;
        text-decoration: none;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }
    }
}

@include media-max($bp-medium) {
    .defi-menu {
        h2 {
            font-size: 24px;
        }

        .menu-item {
            padding: 8px;
        }
    }
}

@include media-max($bp-menu) {
    .defi-menu {
        svg {
            width: 64px !important;
            height: 64px !important;;
        }
    }
}

@include media-max($bp-small) {
    .defi-menu {
        padding-top: 0;
    }
}
