@import "../../assets/scss/vars";

.address-info-box {
    .address {
        font-family: $font-family-proxima;
        font-size: 28px;
        font-weight: normal;
    }

    .router-link {
        color: inherit !important;

        &:hover {
            //text-decoration: none;
        }
    }

    .pick-account-btn {
        width: 100%;

        svg {
            margin-left: 8px;
        }
    }

    &.one-account {
        .pick-account-btn {
            cursor: initial;
        }
    }

    .account-name {
        .an-name {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@include media-max($bp-menu) {
    .address-info-box {
        padding-left: 8px;

        .address {
            font-size: 22px;
        }

        .address-col {
            display: flex;
            //align-items: flex-start;

            > button:first-child {
                max-width: 84%;
                margin-right: 4%;
            }
        }
    }
}
