@import "../../assets/scss/vars";

.address-info-box {
    .address {
        font-family: $font-family-proxima;
        font-size: 28px;
        font-weight: normal;
    }

    .router-link {
        color: inherit !important;

        &:hover {
            text-decoration: none;
        }
    }
}
