@import '../../assets/scss/vars';

.dashboard-header {
    h1 {
        margin-top: 8px;
    }

    header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        //top: 40px;
        z-index: 2;
        width: 100%;
        //height: $f-header-height;
        //color: #fff;
        //background-color: var(--f-primary-color);
        //transition: height $transition-length ease;
    }
}

@include media-max($bp-large) {
    .account-header {
        header {
            position: initial;
        }
    }
}
