.f-transaction-status {
    display: inline-block;
    padding: 4px 16px;
    color: #fff;
    background-color: #ffbb38;
    border-radius: 16px;

    &.success {
        background-color: #18a957;
    }

    &.error {
        background-color: #df1642;
    }

    &.pending {
        color: #2B3954;
    }

    &.light {
        background-color: transparent;
        border-radius: 0;
        color: #2B3954;
        font-weight: bold;
        padding: initial;

        &.success {
            color: #18a957;
        }

        &.error {
            color: #df1642;
        }
    }

    /*
    background-color: $warning-color;
    border-radius: 16px;

    &.success {
        background-color: $success-color;
    }

    &.error {
        background-color: $error-color;
    }

    &.pending {
        color: $body-color;
    }
    */
}
