@import "../../assets/scss/vars";

.view-funiswap-home {
    .funiswap-home-tabs {
        max-width: 420px;
        margin: 120px auto 0 auto;
    }
}

@include media-max($bp-small) {
    .view-funiswap-home {
        .funiswap-home-tabs {
            margin-top: 0;
        }
    }
}
