@import "../../assets/scss/vars";

.defi-token-list {
    ul > li {
        padding: 8px;
        margin-bottom: 2px;
        cursor: pointer;
        font-weight: bold;
        border-radius: $input-border-radius;

        &:hover {
            background-color: #ccddff;
        }
    }

    .crypto-logo {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin-right: 8px;

        img {
            width: auto;
            max-height: 100%;
        }
    }
}
