@import "variables";

.f-tabs {
    ul {
        display: flex;
        list-style-type: none;

        li {
            padding: 8px 16px;
            cursor: pointer;
        }
    }

    &:not(.no-style) {
        ul {
            li {
                //border-radius: 8px 8px 0 0;
                //background-color: #f4f4f4;
                //margin-right: 1px;
                border-bottom: 1px solid #eee;

                &:hover, &:focus {
                    //background-color: #ddd;
                    border-bottom-color: #666;
                }

                &[aria-selected="true"] {
                    color: $theme-color;
                    border-bottom-color: $theme-color;
                }
            }
        }
    }

    .f-tabs-panels {
        padding-top: 16px;
        //padding: 16px;
    }
}
