@import "../../assets/scss/vars";

.account-info-box {
    .balance {
        h3 {
            font-size: 28px;
            margin-top: 0;
            margin-bottom: 0;

            .label {
                font-size: 18px;
                padding-bottom: 0 !important;
            }
        }

        .usd {
            color: $light-gray-color;
            font-size: 24px;
            line-height: 1.1;
        }
    }
}

@include media-max($bp-medium) {
    .account-info-box {
        .balance {
            .usd {
                line-height: 1;
            }
        }

        .account-actions-box {
            margin-top: 20px;
        }
    }
}
