.tx-confirmation-f-window {
    --f-window-padding: 32px 40px;

    max-width: 600px;

    .title {
        h2 {
            font-size: 28px;
            font-weight: normal;
        }
    }

    .transaction-success-message, .transaction-reject-message {
        margin: 0;
    }
}
