@import "../../assets/scss/vars";
//@import "../core/FCard/variables";

.account-list {
    /*
    > ul {
        @include fluid-items(300px, 32px, 32px);
    }
    */

    > ul {
        li {
            padding-top: 16px;
        }
    }

    h3 {
        margin-bottom: 0 !important;
    }

    .f-card {
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;

        &:not(.off) {
            .label {
                padding-top: 8px;
                padding-bottom: 0;
                font-weight: normal;
            }
        }
    }

    .value {
        font-size: 22px;
    }

    .currency {
        display: block;
        //margin-top: -4px;
        color: $light-gray-color;
        font-weight: normal;
        font-size: 0.917em;
    }

    //&.edit-mode {
        .address-col {
            //position: relative;
            display: block;

            padding-right: 32px;

            button.btn-edit, .f-copy-button {
                position: absolute;
                right: 20px;
            }

            .f-copy-button {
                top: 20px;
            }
        }

    .account-name-exists {
        .address-col {
            .f-copy-button {
                top: initial;
                bottom: 54px;
            }
        }
    }

        .f-card {
            &:not(.off) {
                .label {
                    padding-right: 32px;
                }
            }
        }
    //}

    .account-edit-actions {
        position: relative;
        z-index: 1;

        li {
            padding-top: 0;
        }
    }
}

@include media-max($bp-menu) {
    .account-list {
        .account-edit-actions {
            li {
                display: inline-block;
            }
        }

        //&.edit-mode {
            .address-col {
                button.btn-edit {
                    top: initial;
                    bottom: 18px;
                }

                .f-copy-button {
                    top: initial;
                    bottom: 50px;
                }
            }
        //}
    }
}
