@import "../../assets/scss/vars";
//@import "../core/FCard/variables";

.account-list {
    /*
    > ul {
        @include fluid-items(300px, 32px, 32px);
    }
    */

    > ul {
        li {
            padding-top: 16px;
        }
    }

    h3 {
        margin-bottom: 0 !important;
    }

    .f-card {
        height: 100%;
        //padding-left: $f-card-padding-2x;
        //padding-right: $f-card-padding-2x;

        &:not(.off) {
            .label {
                padding-top: 4px;
                padding-bottom: 0;
                padding-right: 32px;
            }
        }
    }

    .value {
        font-size: 21px;
    }

    &.edit-mode {
        .address-col {
            //position: relative;
            display: block;

            padding-right: 32px;

            button {
                position: absolute;
                top: 20px;
                right: 12px;
            }
        }
    }

    .account-edit-actions {
        position: relative;
        z-index: 1;

        li {
            padding-top: 0;
        }
    }
}

@include media-max($bp-menu) {
    .account-list {
        .account-edit-actions {
            li {
                display: inline-block;
            }
        }

        &.edit-mode {
            .address-col {
                button {
                    top: initial;
                    bottom: 44px;
                }
            }
        }
    }
}
