@import "../../assets/scss/vars";

.account-actions-box {
    ul {
        white-space: nowrap;

        li {
            display: inline-block;
            //padding-left: 8px;

            a {
                display: inline-block;
                text-align: center;
                min-width: 80px;

                &:hover {
                    text-decoration: none;
                }

                .link-label {
                    display: block;
                    font-size: 14px;
                    padding-top: 2px;
                }

                &.router-link-exact-active {
                    .btn {
                        color: $theme-color;
                        border-color: $theme-color;
                        background-color: #fff;

                        &:hover {
                            color: $theme-color !important;
                            background-color: lighten($theme-color, 35) !important;
                        }
                    }
                }
            }
        }
    }
}

@include media-max($bp-small) {
    .account-actions-box {
        ul {
            li {
                a {
                    min-width: 74px;
                }
            }
        }
    }

}
