@import "../../assets/scss/vars";

.f-header {
    //position: fixed;
    //top: 0;
    //z-index: 10;
    position: relative;
    width: 100%;
    //height: $f-header-height;
    color: #fff;
    background-color: $theme-color;
    transition: height $transition-length ease;

    .logo {
        > img {
            height: 44px;
            margin-bottom: 0 !important;
            transition: opacity $transition-length ease;
        }
    }
}

@include media-max($bp-menu) {
    .f-header {
        top: 8px;

        .narrow-container {
            padding-top: 0;
            padding-bottom: 0;
        }

        .logo {
            //position: fixed;
            /*top: 10px;*/
            top: 14px;
            left: 16px;
            z-index: 11;

            > img {
                max-height: 30px;
            }
        }
    }
}

