@import "variables";

.f-input {
    display: inline-block;
    vertical-align: middle;

    .inp {
        display: flex;
        align-items: center;
        align-content: center;

        input {
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            background: none;
            padding: 0;
            border: none;

            &:focus {
                box-shadow: none;
                outline: none;
            }

            &:invalid {
                box-shadow: none;
                outline: none;
                border: none;
            }
        }
    }

    &.suffix-slot {
        .inp {
            padding-right: 0.25rem;
        }
    }
}
