@import "../../assets/scss/vars";

.f-footer {
    /*color: #fff;*/
    /*background-color: var(--f-primary-color);*/
    min-height: 64px;

    .narrow-container {
        padding-top: 8px;
        padding-bottom: 8px;
        height: 100%;

        > .row {
            height: 100%;
        }
    }

    @include links() {
        transition: color $transition-length ease;
    }

    a:not(.btn):hover {
        /*color: #fff;*/
        text-decoration: none;
    }
}
