@import "../../assets/scss/vars";

.defi-borrow-fusd {
    .grid {
        display: grid;
        //grid-template-columns: 1fr 1fr 1fr;
        //grid-template-columns: auto 50% auto;
        grid-template-columns: 180px auto 180px;
        grid-template-rows: auto;
        grid-gap: 16px 16px;
        margin: 64px 8px 0 8px;

        .f-message {
            grid-area: 2 / 1 / 2 / 4;
        }

        .defi-price-input-col {
            place-self: center;

            .defi-price-input {
                > input {
                    margin-bottom: 0;
                }
            }
        }

        .minting-limit-col {
            text-align: right;
        }

        .right-col {
            text-align: right;
        }
    }

    .token-info {
        position: absolute;
        bottom: 96px;
        width: 100px;
        //color: $grey-color-semi;
        color: #ddd;
        z-index: 0;

        &.increase {
            right: 0;
        }

        .token-info-label {
            font-weight: bold;
            font-size: 18px;
        }
    }

    .token-label {
        position: absolute;
        top: -32px;
        width: 100%;
        text-align: center;
        color: $light-gray-color;
        font-size: 18px;
        z-index: 0;
    }

    .defi-price-input {
        input.text-input {
            position: relative;
            z-index: 1;
            font-size: 96px;
        }
    }

    .f-colored-number-range {
        color: var(--f-primary-color);
        font-weight: 600;
    }
}

/*
.view-defi {
    .defi-borrow-fusd {
        .df-data-item {
            margin-bottom: 40px;
        }
    }
}
*/

/* Tablet breakpoint */
@include media-max($bp-large) {
    .defi-borrow-fusd {
        .grid {
            .f-message {
                grid-area: 3 / 1 / 3 / 4;
            }

            .defi-price-input-col {
                grid-area: 2 / 1 / 2 / 4;
                margin-top: 40px;
            }

            .minting-limit-col {
                text-align: center;
            }

            .right-col {
                display: initial;
            }
        }
    }

    .view-defi {
        .perex {
            display: none;
        }
    }
}

@include media-max($bp-small) {
    .defi-borrow-fusd {
        .grid {
            grid-template-columns: 1fr 1fr;
            margin-top: 24px;

            .defi-price-input-col {
                grid-area: 2 / 1 / 2 / 3;
            }

            .f-message {
                grid-area: 3 / 1 / 3 / 3;
            }
        }

        .defi-price-input {
            input.text-input {
                font-size: 72px;
            }
        }

        .token-info {
            display: none;
        }

        .f-circle-progress {
            --f-circle-progress-width: 120px;
            --f-circle-progress-height: 120px;
        }
    }

    .view-defi {
        .defi-borrow-fusd {
            .df-data-item {
                margin-bottom: 16px;
            }
        }
    }
}
