@import "../../assets/scss/vars";

$btns-border-radius: 48px;

.welcome-view {
    .intro {
        color: rgba(255, 255, 255, 0.75);
        //padding: 32px 0 88px;
        padding: 0 0 60px;

        h1 {
            font-size: 48px;
            color: #fff;
            /*font-weight: 600;*/
        }
    }

    .view-account-main {
        margin: 0 auto;
        //max-width: 770px;
        max-width: 100%;

        .main-buttons {
            margin-bottom: 8px;

            display: grid;
            grid-column-gap: 32px;
            grid-auto-columns: 1fr;
            grid-auto-flow: column;

            > * {
                margin-bottom: 16px;
            }
        }
    }

    @include buttons('.create-account-btn') {
        font-weight: bold;
        height: 80px;
        font-size: 20px;
        border-radius: $btns-border-radius;
    }

    @include buttons('.restore-account-btn') {
        font-weight: bold;
        height: 80px;
        font-size: 20px;
        border-radius: $btns-border-radius;
    }

    @include buttons('.ledger-accounts-btn') {
        font-weight: bold;
        height: 80px;
        font-size: 20px;
        border-radius: $btns-border-radius;
    }
}

@include media-max($bp-small) {
    .welcome-view {
        .intro {
            padding: 0 0 24px 0;

            h1 {
                font-size: 40px;
            }
        }
    }
}

@include media-max(800px) {
    .welcome-view {
        .view-account-main {
            .main-buttons {
                display: block;
            }
        }
    }
}
