.column-layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    &--header-body-footer, &--header-body {
        > div:nth-child(2) {
            height: 100%;
            overflow: auto;
        }
    }

    &--body-footer {
        > div:first-child {
            height: 100%;
            overflow: auto;
        }
    }
}
