@import "../variables";

$f-slider-border-radius: 12px !default;

$f-slider-track-color: #e6e6e6 !default;
$f-slider-track-height: 8px !default;

$f-slider-thumb-width: 24px !default;
$f-slider-thumb-height: 24px !default;
$f-slider-thumb-background-color: #fff !default;
$f-slider-thumb-border-radius: 50% !default;

$f-slider-fill-bar-backgrond-color: $theme-color !default;
