@import "../../../assets/scss/vars";

.validator-list-dt {
    .offline {
        color: $error-color;
        //color: #f00;
        font-weight: bold;
    }

    .select-validator-mv {
        padding-top: 16px !important;
    }
}
