.unstake-ftm {
    //text-align: center;

    h3 {
        padding-top: 16px;
        margin-bottom: 32px;
        text-align: center;
    }

    .smaller-content {
        max-width: 600px;
        margin: 16px auto;
    }
}
