.topdisclaimer {
    position: relative;
    width: 100%;
    font-size: 14px;
    z-index: 100;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2px;
    color: #fff;
    background-color: #F8782A;

    &_text {
        width: 100%;
        padding: 0 8px;
    }

    a, button {
        color: #fff !important;
    }
}

:root:not(.dark-theme) {
    .topdisclaimer {
        button:hover {
            color: #F8782A !important;
        }
    }
}
